config.local.json
results.local.json
channels.local.json
cache/
figures/data/*.pdf
figures/data/*.png
figures/data/*.json
figures/data/*.json.gz
figures/data/tavottofile/
figures/data/.tavotto*
figures/results/*.pdf
figures/results/*.png
figures/results/*.json
figures/results/*.json.gz
figures/results/tavottofile/
figures/results/.tavotto*
